<!DOCTYPE html>
<html th:replace="includes/layouts :: basicLayout(~{::title},~{::main},~{},~{})" lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Accueil - Bibliothèque</title>
</head>
<body>
<main role="main" class="container-fluid mt-1">
    <h1 class="text-center mt-3">Bibliotheque</h1>
    <form class="col-12 col-sm-10 col-md-8 col-lg-7 m-auto form-inline my-2 my-lg-0"
          id="homepage-searchForm" action="/books" method="GET">
        <h2 class="mt-5">Rechercher un livre</h2>
        <input class="form-control col-9" id="name"
               type="text" placeholder="Nom du livre" aria-label="Search">
        <button class="btn btn-primary col-3" type="submit">Rechercher</button>
    </form>
</main>
</body>
</html>