<!DOCTYPE html>
<html th:replace="includes/layouts :: basicLayout(~{::title},~{::main},~{},~{})" lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Accueil - Bibliothèque</title>
</head>
<body>
<main role="main" class="container mt-1">
    <h1 class="text-center mt-3">Bibliotheque</h1>
    <form class="my-2 px-3 pt-3" th:action="@{/books}" method="GET" th:object="${bookSearch}">
        <div class="form-row">
            <div class="col-5 form-group ml-auto">
                <label class="sr-only" for="name">Titre</label>
                <input class="form-control" id="name" type="text" th:field="*{name}" placeholder="Titre"
                       th:value="*{name}">
            </div>
            <div class="col-4 form-group">
                <label class="sr-only" for="author">Auteur</label>
                <input class="form-control"
                       id="author"
                       type="text" th:field="*{author}" placeholder="Auteur"
                       th:value="*{author}">
            </div>
            <div class="col-auto mr-auto">
                <button class="btn btn-primary d-lg-block d-none" type="submit">Rechercher</button>
                <button class="btn btn-primary d-lg-none d-block" type="submit"><i class="fas fa-search"></i>
                </button>
            </div>

        </div>

        <div class="collapse" id="collapseFilter">

            <div class="form-row">
                <div class="col-4 form-group">
                    <label class="sr-only" for="isbn">ISBN</label>
                    <input class="form-control" id="isbn" type="text" th:field="*{isbn}" placeholder="ISBN"
                           th:value="*{isbn}">
                </div>
                <div class="col-3 form-group">
                    <label class="sr-only" for="publisher">Editeur</label>
                    <input class="form-control"
                           id="publisher"
                           type="text" th:field="*{publisher}" placeholder="Editeur"
                           th:value="*{publisher}">
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>